{% extends "base.html" %}
{% load bootstrap %}

{% block main %}
<div class="col-md-12" id="login">
	<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1" style="border: solid #f7f7f9">
		<form method="post">
			<label for="Login" class="control-label text-center section-font" style="margin-bottom: 20px; margin-top: 20px">Login</label>
			<!-- Cross site request forgery prevention -->
			{% csrf_token %}
			<div class=" text-left">
				{{form|bootstrap}}
			</div>
			<button type="submit" class="btn btn-primary btn-lg btn-block" style="margin-top: 30px">Login</button>
		</form>
		<br>
		<p><strong>-- OR --</strong></p>
		<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
			<a href="{% url 'social:begin' 'github' %}" class="btn btn-block" style="background-color: #333; color:white">Login with GitHub</a>
			<br>
			<a href="{% url 'social:begin' 'facebook' %}" class="btn btn-primary btn-block active">Login with Facebook</a>
			<br>
		</div>
	</div>
</div>

{% endblock %}
