{% extends "base.html" %}
{% load bootstrap %}

{% block main %}
<div class="col-md-12" id="register">
	<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
		<form method="post" action=".">
			<label for="Register" class="control-label text-center section-font" style="margin-bottom: 20px; margin-top: 20px">Register</label>
			{% csrf_token %}
			<div class="text-left">
				{{ form|bootstrap }}
			</div>
			<button type="submit" class="btn btn-primary btn-lg btn-block" style="margin-top: 30px">Register</button>
		</form>
		<br>
		<p><strong>-- OR --</strong></p>
		<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
			<a href="{% url 'social:begin' 'github' %}" class="btn btn-block" style="background-color: #333; color:white">Login with GitHub</a>
			<br>
			<a href="{% url 'social:begin' 'facebook' %}" class="btn btn-primary btn-block active">Login with Facebook</a>
			<br>
		</div>
	</div>
</div>
{% endblock %}
