{% extends "base.html" %}

{% block scriptsAndStylesheets %}
{% load static %}
	{% load cloudinary %}
	{% cloudinary_includes %}
	{% cloudinary_js_config %}
{% endblock %}

{% block main %}

<!-- About Section -->
<section id="about"  class="">
	<div class="col-md-12 text-center">
		<div class="col-md-12">
			<label class="control-label text-center section-font" style="margin-bottom: 20px; margin-top: 20px">About</label>
		</div>

		<div class="col-sm-8 col-sm-offset-2">
			<p class="text-muted">
				A palce which brings togather the elite minds of the gaming world. <br/>
				Play the most creative games, share your experiences and get inspired.
			</p>
			<p class="text-muted alert alert-info" style="font-style: italic; margin-top:30px">
				Just register, follow the link sent to your email.
			</p>
		</div>
	</div>
</section>

<!-- Team Section -->
<section id="team">
	<div class="col-md-12 text-center">
		<label class="control-label text-center section-font" style="margin-bottom: 20px; margin-top: 20px">Our Amazing Team</label>
	</div>

	<div class="col-md-12">
		<div id="team-members">
			<div class="col-sm-4">
				<div class="member">
					<div class="pagination-centered">
						{% cloudinary 'WSD/Relja.jpg' height=150 width=150 crop="fill" secure=True class="img-circle img-responsive" style="display:block; margin:auto"%}
					</div>
					<h4>Relja</h4>
				</div>
			</div>


			<div class="col-sm-4">
				<div class="member">
					<!-- <img src="https://res.cloudinary.com/sakshyam/image/upload/v1487156730/WSD/Sakshyam.jpg" class="img-responsive img-circle" alt="" style="width:150px; height:150px; margin-top: 4px; display:block; margin:auto"> -->
					{% cloudinary 'WSD/Sakshyam.jpg' height=150 width=150 crop="fill" secure=True class="img-circle img-responsive" style="display:block; margin:auto"%}
					<h4>Sakshyam Panda</h4>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="member">
					{% cloudinary 'WSD/Sharbel.jpg' height=150 width=150 crop="fill" secure=True class="img-circle img-responsive" style="display:block; margin:auto"%}
					<h4>Sharbel</h4>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
