{% extends "base.html" %}
{% load static %}
{% load cloudinary %}
{% load bootstrap %}

{% block meta %}
  <!-- Open Graph Tags for customized facebook sharing-->
	{{ block.super }}

	<meta property="og:site_name"          content="Awsome JS Games Store" />
	<meta property="og:title"              content="If you're not playing , you sure are missing out!" />
	<meta property="og:description"        content="My description" />


{% endblock meta %}

{% block main %}


<!-- Move this to a STATIC folder -->
<script>
  window.addEventListener("message", receiveMessage, false);

  function receiveMessage(event)
  {
    //TODO: Maybe we should make sure that event comes from the game?
    //var origin = event.origin || event.originalEvent.origin; // For Chrome, the origin property is in the event.originalEvent object.
    //if (origin !== "http://example.org:8080")
    //  return;
    if(event.data.messageType == "SETTING"){
      $("#game").attr("width", event.data.options["width"]);
      $("#game").attr("height", event.data.options["height"]);
    }

    // Save game handler
    if (event.data.messageType == "SAVE"){
      // Data to be sent to coresponding view to process
      var requestData = { 'game': {{ game.pk }} , 'score': event.data.gameState['score'], 'items': event.data.gameState['playerItems']};
      // Ajax call to view saveGame
      $.ajax({
          type: "POST",
          url: "saveGame/",
          data: requestData,
          success: function(data){
              //alert(data);
          },
          error: function(msg){
              alert( "There is an error with the server." );
          }
      });
    }
    // Load game
    if (event.data.messageType == "LOAD_REQUEST"){
      var requestData = { 'game': {{ game.pk }}};
      // Ajax call that sends load game data to loadGame view,
      // Load game view process the data and sends it back
      // If it is successfull, message with load data is sent to the game
      $.ajax({
          type: "POST",
          url: "loadGame/",
          data: requestData,
          success: function(data){
              // Just checking that correct data is sent
              if ( data.messageType == "LOAD"){
                var message = data;
                // Message containing load game data is sent to the game
                var iframe = document.getElementById("game").contentWindow;
                iframe.postMessage(message, "{{ game.url }}");
              }
              else
                alert(data);
          },
          error: function(msg){
              alert( "There is an error with the server." );
          }
      });
    }
    // Used for saving the score of the game, usually after the game has ended
    if(event.data.messageType == "SCORE"){
      var requestData ={ 'game': {{ game.pk }} , 'score': event.data.score};
      $.ajax({
          type: "POST",
          url: "saveScore/",
          data: requestData,
          success: function(data){
              //TODO: dont reload whole page, make it like a AJAX call to refresh highscores only
                //alert(data);
                // Refresh page to see newly updated highscores
                location.reload();
          },
          error: function(msg){
              alert( "There is an error with the server." );
          }
      });
    }

  }
  function addComment(){
    $.ajax({
        type: "POST",
        url: "addComment/",
        data: {"comment" : $("#comment").val()},
        success: function(data){
            //TODO: dont reload whole page, make it like a AJAX call to refresh highscores only
              //alert(data);
              // Refresh page to see newly updated highscores
              location.reload();
        },
        error: function(msg){
            alert( "There is an error with the server." );
        }
    });
  }
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=328098844258094";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="col-md-12">
	<div class="col-md-12">
		<div class="highlight">
			<label for="game-name" class="section-font control-label col-md-12">{{ game.name }}</label>
			{% if gameBought %}
				<div class="">
					<iframe class="" src="{{ game.url }}" name="game" id="game"></iframe>
				</div>
			{% else %}
				<div class="alert alert-info" role="alert">
					<p> <strong>Oh Shoot!</strong> You need to buy the game to play it.<br/>
						<a type="button" href="{% url 'buyGame' game.name %}" class="btn btn-primary">Buy</a>
					</p>
				</div>
			{% endif %}

			<div class="fb-share-button"
						data-layout="button"
						data-size="large"
						data-mobile-iframe="true">
							<a class="fb-xfbml-parse-ignore"
								 target="_blank"
								 href="https://www.facebook.com/sharer/sharer.php">
								 Share
							</a>
			</div>
<!--https://twitter.com/home?status=Check%20out%20this%20%23AwsomeGame%20called%20%22{{ game.name }}%22%20on%20AwsomeGames%3A%20{{ gameURL }}-->
			<button class="twitter-share-button"><a href="https://twitter.com/intent/tweet?text=Check%20out%20this%20%23AwsomeGame%20called%20%22{{ game.name }}%22%20on%20AwsomeGames%3A%20{{ gameURL }}" target="_blank">
        Tweet
      </a></button>

		</div>
	</div>

	<div class="col-md-12">
		<div class="bd-example col-md-6" id="highScores">
			<label for="High-scores" class="section-font control-label">High Scores</label>
			<table class="table table-hover">
				<thead class="thead-default">
					<tr>
						<th class="text-center">User</th>
						<th class="text-center">Score</th>
					</tr>
				</thead>
				<tbody>
				{% for item in scores %}
					<tr>
						<td>{{ item.user }}</td>
						<td>{{ item.score }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>

		<!-- Add comment for user -->
		<div class="bd-example col-md-6" style="margin-bottom: 10px;">
			<form action="javascript:;" onsubmit="addComment()">
				<label for="add-comment" class="control-label text-center section-font" style="margin-bottom: 20px;">Comment</label>
				<div class=" text-left">
					<textarea class="form-control" rows="4" id="comment"></textarea>
				</div>
				<button type="submit" class="btn btn-primary btn-lg btn-block" style="margin-top: 30px; margin-bottom: 30px">Submit</button>
			</form>


		<!-- TODO: Represent all comments for this game in following way -->

			{% for comment, userProfile in userComments %}
				<div class="text-left">
					<div class="panel panel-default">
						<div class="panel-heading">
							<strong>{{comment.user}}</strong>
						</div>
						<div class="panel-body">
							{{comment.commentText}}
						</div><!-- /panel-body -->
						<div class="panel-footer text-right"><span class="text-muted small">{{comment.created}}</span></div>
					</div><!-- /panel panel-default -->
				</div><!-- /col-sm-5 -->
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}
