{% extends "base.html" %}
{% load bootstrap %}

{% block scriptsAndStylesheets %}
	{% load cloudinary %}
	{% cloudinary_includes %}
	{% cloudinary_js_config %}
{% endblock %}

{% block main %}


<div class="col-md-12">
	<div class="">
		<div class="col-md-3 text-center" style="float: none; margin: 0 auto">
			<div class="col-md-12">
				{% cloudinary 'WSD/profile_mockup.png' height=150 width=150 crop="fill" secure=True class="img-circle img-responsive" style="display:block; margin:auto" %}
			</div>
			<div class="col-md-12">
				<p class="lead" style="margin-bottom:30px">{{user.username}}</p>
			</div>
		</div>
	</div>
	

	{% if userProfile.isDeveloper %}
		<div class="col-md-12" style="margin-bottom:20px">
			<div class="col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2 col-sm-5 col-sm-offset-1">
				<a href="{% url 'registerForAPI' %}" class="thumbnail btn-lg">
					Request API Key
				</a>
			</div>
			<!-- <div class="col-md-4 col-sm-4">
				<a href="{% url 'editProfile' %}" class="thumbnail btn-lg">
					Edit Profile
				</a>
			</div>-->
			<div class="col-md-4 col-sm-4 col-sm-5">
				<a href="{% url 'index' %}" class="thumbnail btn-lg">
					Buy Games
				</a>
			</div>
		</div>
	
		<div class="col-md-12">
			<div class="">
				<div class="col-md-4 col-sm-4 btn-pref">
					<a class="btn btn-block btn-lg thumbnail" href="#tab1" id="create-new-game" data-toggle="tab">Add New Game</a>				
				</div>
				<div class="col-md-4 col-sm-4 btn-pref">
					<a class="btn btn-primary thumbnail active btn-lg" href="#tab2" id="created-game" data-toggle="tab">Your Games</a>
				</div>
				<div class="col-md-4 col-sm-4 btn-pref">
					<a class="btn btn-block thumbnail btn-lg" href="#tab3" id="purchased-game" data-toggle="tab">Purchased Games</a>
				</div>
			</div>
			
			<div class="col-md-12" style="top: -20px">
				<div class="tab-content col-sm-12 col-xs-12 highlight">
					<div class="tab-pane fade in" id="tab1">
						<div class="col-md-12">
							<div id="new-game" class="">
								<div class="col-md-8 col-md-offset-2">
									{% if success %}
									<div class="alert alert-success alert-dismissible" role="alert">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
										<p>Successfully added a new game.<br>
											Thank you.
										</p>
									</div>
									{% endif %}
									<div id='backend_upload'>
										<form action="." method="post" enctype="multipart/form-data" id="add-game-form">
											<label for="New Game" class="control-label text-center section-font" style="margin-bottom: 20px; margin-top: 20px">New Game</label>
											{% csrf_token %}
											{{ backend_form }}
											<div class="text-left">
												{{ form|bootstrap }}
											</div>
											<button type="submit" class="btn btn-primary btn-lg btn-block" style="margin-top: 30px; margin-bottom:30px">Upload</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="tab-pane fade in active" id="tab2">
						<div class="">
							<label class="control-label text-center section-font" style="margin-bottom: 20px; margin-top: 20px">Manage Games</label>
							<div>
								<!-- TODO Implement the page for managing games where clicking
								one game from the list will redirect to a page where only that game is edited or the sales list is shown -->
								{% for game, numberOfPurchases in gamePurchases %}
									<div class="col-md-4 col-sm-6 text-center" style="padding-bottom:30px;">
										<div class="img-thumbnail text-center">
											<div class="col-md-12 bd-example">
												<a href={% url "game" game.name %}>
												   {% cloudinary game.image width=600 height=200 crop="fill" class="img-responsive" style="display:block; margin:none" %}
												</a>
											</div>
											<div class="col-md-12 highlight" style="padding-bottom:5px; margin-bottom:10px;">
												<a href={% url "game" game.name %}> <span class="service-heading">{{game.name}}</span><span> [ {{game.category}} ]</span></a><br>
												<a href={% url "manageGame" game.name %}>Manage Game</a>
											</div>
											
											<div class="col-md-12 text-left game-description1">
												<p> Number of Purchases: {{numberOfPurchases}}</p>
												<span><strong>Description:</strong></span>
												<p class="section-subheading text-muted">{{game.description}}</p>
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>

					<div class="tab-pane fade in" id="tab3">
						<label class="control-label text-center section-font col-md-12" style="margin-bottom: 20px; margin-top: 20px">Purchased Games</label>
						{% for game, purchasedWhen, count in boughtGames %}
							<div class="col-md-4 text-center" style="padding-bottom:30px;">
								<div class="img-thumbnail text-center">
									<div class="col-md-12 bd-example">
										<a href={% url "game" game.name %}>
										   {% cloudinary game.image width=600 height=200 crop="fill" class="img-responsive" style="display:block; margin:none" %}
										</a>
									</div>
									<div class="col-md-12 highlight" style="padding-bottom:5px; margin-bottom:10px;">
										<a href={% url "game" game.name %}> <span class="service-heading">{{game.name}}</span><span> [ {{game.category}} ]</span></a>
										<div class="">
											<span class="glyphicon glyphicon-euro" style="font-weight: 900; padding:5px;">{{game.price}}</span>
										</div>
									</div>
									<div class="col-md-12 text-left game-description1">
										<span><strong>Description:</strong></span>
										<p class="section-subheading text-muted">{{game.description}}</p>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>

				</div>
			</div>
		</div>

	{% else %}
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="col-md-12" style="margin-bottom:20px">
				<!-- <div class="col-md-4 col-md-offset-2">
					<a href="{% url 'editProfile' %}" class="thumbnail btn-lg">
						Edit Profile
					</a>
				</div> -->
				<div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
					<a href="{% url 'index' %}" class="thumbnail btn-lg">
						Buy Games
					</a>
				</div>
			</div>
			
			<div class="col-md-12">
				<div class="tab-content col-sm-12 col-xs-12 highlight">
					<div class="tab-pane fade in active">
						<div class="" id="tab-non-developer">
							<label class="control-label text-center section-font col-md-12" style="margin-bottom: 20px; margin-top: 20px">Purchased Games</label>
							{% for game, purchasedWhen, count in boughtGames %}							
								<div class="col-md-4 text-center" style="padding-bottom:30px;">
									<div class="img-thumbnail text-center">
										<div class="col-md-12 bd-example">
											<a href={% url "game" game.name %}>
											   {% cloudinary game.image width=600 height=200 crop="fill" class="img-responsive" style="display:block; margin:none" %}
											</a>
										</div>
										<div class="col-md-12 highlight" style="padding-bottom:5px; margin-bottom:10px;">
											<a href={% url "game" game.name %}> <span class="service-heading">{{game.name}}</span><span> [ {{game.category}} ]</span></a>
											<div class="">
												<span class="glyphicon glyphicon-euro" style="font-weight: 900; padding:5px;">{{game.price}}</span>
											</div>
										</div>
										<div class="col-md-12 text-left game-description1">
											<span><strong>Description:</strong></span>
											<p class="section-subheading text-muted">{{game.description}}</p>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
</div>

{% endblock %}
