@CHARSET "UTF-8";

* {
  @include box-sizing(border-box);
}

body{
	padding-top: 55px;
	/*overflow-x:hidden;*/
	font-family:"Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0;
   min-height:50px;
   width:100%;
   background-color:#222;
   border-color: #222;
}

/* IE 6 */
* html #footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

/*
footer {
  background-color: #222;
  border-color: #222;
  bottom: 0;
  min-height: 50px;
  width: 100%;
}
*/

.section-subheading{
	font-size:16px;
	font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform:none;
	font-style:italic;
	font-weight:400;
}

a {
	text-decoration: none !important;
}

.section-font{
	font-size: 16px;
}

.service-heading{
	font-weight:500;
	font-size: 2rem;
}


.game-description{
	height: 180px;
	margin-bottom: 2%;
}

.main{
	margin-bottom: 80px;
}

.bd-example{
	border: solid #f7f7f9; 
	border-width: 3px;
}

.highlight{
	background-color: #f7f7f9;
}
/* RESPONSIVE CSS
-------------------------------------------- */

@media (max-width:500px) {
	.section-font{
		font-size: 16px;
	}

	.section-subheading{
		font-size:13px;
	}

	.game-description{
		height: 160px;
	}

	.main{
		margin-bottom: 70px;
	}
}


@media (min-width:500px){
	.section-font{
		font-size: 18px;
	}

	.section-subheading{
		font-size:13px;
	}

	.game-description{
		height: 150px;
	}

	.main{
		margin-bottom: 70px;
	}
}

@media (min-width: 768px) {
	.section-font{
		font-size: 22px;
	}

	.section-subheading{
		font-size:14px;
	}

	.game-description{
		height: 180px;
	}

	.main{
		margin-bottom: 70px;
	}
}

@media (min-width:992px){
	.section-font{
		font-size: 26px;
	}

	.section-subheading{
		font-size:15px;
	}

	.game-description{
		height: 210px;
	}

	.main{
		margin-bottom: 60px;
	}
}
