{% load cloudinary %}
{% cloudinary_includes %}
{% load static %}
{% cloudinary_js_config %}

<meta property="og:site_name"          content="Awsome JS Games Store" />
<meta property="og:url"                content="{{ gameURL }}" />
<meta property="og:title"              content="If you're not playing {{ game.name }}, you sure are missing out!" />
<meta property="og:description"        content="{{ game.description }}" />
<meta property="og:image"              content="{% cloudinary_url game.image.url %}" />
<meta property="og:type"               content="product" />
<meta property="fb:app_id"             content="328098844258094" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="If you're not playing {{ game.name }}, you sure are missing out!">
<meta name="twitter:description" content="People are going nuts over this Awsome JS Games Store.. it's the real deal!">
<meta name="twitter:image" content="{{game.image}}">
